/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333;
}

a {
  color: #0088cc;
  text-decoration: none;
  text-align: center;
}

ul {
  list-style: none;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

h1 {
  font-size: 28px;
  margin: 0;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
}

/* Main content styles */
main {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

#link-til-opg {
  text-align: center;
}
